name: Build Documentation

on:
  push:
  pull_request:

jobs:
  build_docs:
    # pull requests are a duplicate of a branch push if they are from within
    # the same repo. Skip these
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.10"]
      fail-fast: false

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Set env vars
        run: |
          export REPOSITORY_NAME=${GITHUB_REPOSITORY#*/}  # just the repo, as opposed to org/repo
          echo "REPOSITORY_NAME=${REPOSITORY_NAME}" >> $GITHUB_ENV

      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Set up Python ${{ matrix.python-version }} with conda
        uses: conda-incubator/setup-miniconda@v2
        with:
          activate-environment: ${{ env.REPOSITORY_NAME }}-py${{ matrix.python-version }}
          auto-update-conda: true
          miniconda-version: "latest"
          python-version: ${{ matrix.python-version }}
          mamba-version: "*"
          channels: conda-forge

      - name: Install dependencies with pip
        run: |
          mamba install -c conda-forge pandoc
          pip install .
          pip install -r requirements-dev.txt
          pip list

      - name: Build Docs
        run: make -C docs/ html

      - uses: actions/upload-artifact@v3
        with:
          name: ${{ env.REPOSITORY_NAME }}-docs
          path: docs/build/html/

      - name: Deploy documentation
        if: github.repository_owner == 'thomaswmorris' && github.ref_name == 'master'
        # We pin to the SHA, not the tag, for security reasons.
        # https://docs.github.com/en/free-pro-team@latest/actions/learn-github-actions/security-hardening-for-github-actions#using-third-party-actions
        uses: peaceiris/actions-gh-pages  # v3.7.3
        with:
          deploy_key: ${{ secrets.MARIA_DOCUMENTATION_DEPLOY_KEY }}
          publish_branch: master
          publish_dir: ./docs/build/html
          external_repository: thomaswmorris/thomaswmorris.github.io
          destination_dir: ${{ env.REPOSITORY_NAME }}
          keep_files: true  # Keep old files.
          force_orphan: false  # Keep git history.