name: Tests

on:
  push:
  pull_request:

jobs:
  run_tests:
    name: Test maria simulations
    runs-on: ubuntu-latest

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Install dependencies with pip
        run: |
          pip install .
          pip install -r requirements-dev.txt
          pip list

      - name: Install dependencies with conda
        run: |
          conda install -c conda-forge namaster

      - name: Test the code
        run: |
          set -vxuo pipefail
          pytest -s -vv 
