name: Unit Tests

on:
  push:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: '00 6 * * *'  # daily at 6AM UTC

jobs:
  run_tests:
    # pull requests are a duplicate of a branch push if within the same repo.
    if: github.event_name != 'pull_request' || github.event.pull_request.head.repo.full_name != github.repository

    runs-on: ${{ matrix.host-os }}
    strategy:
      matrix:
        host-os: ["ubuntu-latest"]
        python-version: ["3.10", "3.11", "3.12", "3.13"]
      fail-fast: false

    defaults:
      run:
        shell: bash -l {0}

    steps:
      - name: Checkout the code
        uses: actions/checkout@v3

      - name: Install dependencies with pip
        run: |
          set -vxeuo pipefail
          python -m pip install ".[dev]"
          python -m pip list
          sudo apt-get install tree
          tree

      - name: Test the code
        run: |
          set -vxuo pipefail
          python -m pytest -s -vv
